.hero {
  background: $veryLightGray;

  @include breakpoints-up(large) {
    display: flex;
    min-height: 41rem;
    align-items: center;
    overflow-x: clip;
    // overflow-x: hidden;
  }

  &__img {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    margin-bottom: 2.25rem;

    @include breakpoints-up(large) {
      flex: 3.25;
      order: 2;
      height: 41rem;
      background-image: none;
      //   background: url("/images/bg-intro-desktop.svg");
      //   background-position: left center;
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoints-up(large) {
        height: 120%;
        background-size: 93%;
        background-position: center bottom;
        top: 7%;
        left: 20%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoints-up(large) {
        background: url("/images/bg-intro-desktop.svg");

        height: 106%;
        background-size: 134%;
        background-position: 0% 85%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoints-up(large) {
      flex: 1.75;
      order: 1;
      padding-right: 0;
      text-align: left;
    }

    h1 {
      color: $darkBlue;
      font-size: 2.3125rem;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 1.375rem;

      @include breakpoints-up(large) {
        font-size: $font-xl;
      }
    }

    p {
      font-size: $font-sm;
      line-height: 1.5rem;
      font-weight: bold;
      margin-bottom: 2.25rem;

      @include breakpoints-up(large) {
        font-size: 1rem;
      }
    }

    a {
      margin-bottom: 5.5rem;
    }
  }
}
